<div class="mx-auto mt-5" style="width: 500px;">
    <h2>Register Donor</h2><br>
    <form [formGroup]="registerDonorForm" (ngSubmit)="doRegisterDonor()">
        <div class="form-group">
            <label for="txt-firstname">First Name</label>
            <input formControlName="firstName" class="form-control" id="txt-firstname" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="txt-lastname">Last Name</label>
            <input formControlName="lastName" class="form-control" id="txt-lastname" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="txt-mobilenumber">Mobile Number</label>
            <input formControlName="mobileNumber" class="form-control" id="txt-mobilenumber" placeholder="Mobile Number">
        </div>
        <div class="form-group">
            <label for="txt-address">Address</label>
            <input formControlName="address" class="form-control" id="txt-address" placeholder="Address">
        </div>
        <div class="form-group">
            <label for="txt-lastTimeBloodDonated">Last Time Blood Donated</label>
            <input type="datetime" formControlName="lastTimeBloodDonated" class="form-control" id="txt-lastTimeBloodDonated" placeholder="Last Time Blood Donated">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input formControlName="email" class="form-control" id="txt-email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="txt-email">Username</label>
            <input formControlName="username" class="form-control" id="txt-username" placeholder="User Name">
        </div>
        
        <div class="form-group">
            <label for="txt-password">Password</label>
            <input type="password" formControlName="password" class="form-control" id="txt-password" placeholder="Password">
        </div>        
        <button type="submit" class="btn btn-secondary">Submit</button>
        <!-- <button type="button" (click)="GetInfo()" class="btn btn-primary">Get</button> -->
    </form>
</div>
<br/>