<div class="mx-auto mt-5">
    <h3>Registered Blood Donors</h3>
    <br/>
<table class="table table-sm">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Mobile Number</th>
      <th scope="col">Address</th>
      <th scope="col">Last Time Blood Donated</th>
      <th scope="col">Email Address</th>
      <th scope="col">User Name</th>
      <th scope="col">Password</th>
    </tr>
    <tr scope="row" *ngFor="let donor of donors">
      <td>{{donor.firstName}}</td>
      <td>{{donor.lastName}}</td>
      <td>{{donor.mobileNumber}}</td>
      <td>{{donor.address}}</td>
      <td>{{donor.lastTimeBloodDonated}}</td>
      <td>{{donor.email}}</td>
      <td>{{donor.username}}</td>      
      <td>{{donor.password}}</td>      
    </tr>
  </table>
</div>

<!-- <div class="container my-4">
    <div class="border border-light p-3 mb-4">
        
        <div class="text-center">
          <button type="button" class="btn btn-secondary btn-lg">Blood Requester </button>
          <button type="button" style="margin-left: 10px !important;" class="btn btn-secondary btn-lg">Blood Donor</button>
        </div>      
      </div>
</div> -->


