<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/#">Blood Donar Information System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register Donar</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        <!-- <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>         -->
    </ul>
  </div>
</nav>    
<div class="container">
  <router-outlet></router-outlet>            
</div>