<!-- <div class="mx-auto mt-5" style="width: 1500px;">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Sign In</h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="User Name  *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">
                        <a href="/register" class="RegisterMe">Register me</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div> -->

    <div class="py-5">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>
      
            <!-- form card login -->
            <div class="card rounded-0">
              <div class="card-header">
                <h3 class="mb-0">Sign In</h3>
              </div>
              <div class="card-body">
                <form class="form">
                  <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.userName" name="userName" placeholder="Enter User Name" required>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.password" name="password" placeholder="Enter Password" required>
                  </div>
                  <button type="button" (click)="loginUser()" class="btn btn-secondary float-right">Login</button>
                  <a href="/register" class="RegisterMe">Register me</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>